[package]
name = "todos"
version = "0.1.0"
edition = "2024"
description = "A cli tool to manage todo lists"
authors = ["Ibrahim Eshag"]

[dependencies]
clap = { version = "4.0", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"